<h1> <a [routerLink]="['/']"> Desafio Akna </a></h1>

<div class="container mt-5">
  <h3 class="text-center"> {{ !alteracao ? 'Cadastrar' : 'Editar'  }} Livro</h3>

  <div class="row">
    <div class="col-md-3">

    </div>

    <div class="col-md-6 text-center">

      <form class="mb-3 mt-3" [formGroup]="formulario">
        <div class="row ">

          <div class="col-md-12">

            <div class="form-group">
              <label class="form-label">Nome do Livro</label>
              <input class="form-control" type="text" formControlName="nomeDoLivro"  >
            </div>
          </div>
        </div>

          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label" >Autores:</label>
                <select   formControlName='autorId'  class="form-select form-group cadastro" >
                  <option  *ngFor="let autor of autores" [value]=autor.id

                  > {{ autor.nome}}</option>

                </select>

              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Preço do livro</label>
                <input class="form-control" type="number" min="0"  formControlName="preco" >
              </div>
            </div>
          </div>



      </form>

      <div class="d-flex justify-content-around">
        <button class="btn btn-success " [routerLink]="['/livros-list']" > Voltar</button>
        <button *ngIf="!alteracao"  (click)="cadastrar()"
        class="btn btn-dark" [disabled]="!formulario.valid">Cadastrar</button>

        <button *ngIf="alteracao" (click)="alterar()"
        class="btn btn-dark" [disabled]="!formulario.valid">Alterar</button>
      </div>


    </div>
    <div class="col-md-3">

    </div>



  </div>
</div>





