
<h1> <a [routerLink]="['/']"> Desafio Akna </a></h1>

<div class="container mt-5">
  <h3 class="text-center">Lista de autores</h3>

  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8 text-center">
      <table class="table mt-4 table-sm">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nome do Autor</th>
            <th>Editar ou exluir</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let autor of autores">
            <td> #{{ autor.id }}</td>
            <td> {{ autor.nome}}</td>
            <td >
              <button class=" btn bnt-info dropdown-toggle mt-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" >
                Opções
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" [routerLink]="['/autor-form' , autor.id]">Editar</a></li>
                <li><a class="dropdown-item"  data-bs-toggle="modal" href="#" data-bs-target="#exampleModal" (click)="preparaDel(autor.id)">Excluir</a></li>
              </ul>
            </td>
          </tr>

        </tbody>
      </table>
      <div class="d-flex justify-content-end">
        <button [routerLink]="['/autor-form']" class="btn btn btn-dark">Cadastrar</button>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseja deletar o autor?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Id:   <b>{{ autor.id }}</b><br>
        Nome: <b> {{ autor.nome }}</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="deletar()" data-bs-dismiss="modal">Deletar</button>
      </div>
    </div>
  </div>
</div>
