body{
    background-image: linear-gradient(to left, #c91b1e 48% , #202040 52%);
}



h3{
    color:  white;
    border-bottom: 1px solid white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.719);
}



label{
  color: white;
  font-size: 16px;
  font-weight: 700px;
  margin-top: 10px;
}

.bnt-info{
  padding: 0px;
}


td, th, .bnt-info{
  color: rgb(231, 238, 250);
}

@media screen and (max-width : 768px){
  body{
    background-image: linear-gradient(to top, #c91b1e 48%, #202040 52% );
    background-repeat: no-repeat;
    background-attachment: fixed;

}
}
