.titulo{
  margin-top: 30px;
  text-align: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  font-size: 45px;
}

div.relative {
  position: relative;
  width: 400px;
  height: 200px;
  border: 3px solid white;


}

div.absolute {
  position: absolute;
  top: -51px;
  right: 150px;
  width: 100px;
  height: 100px;
	transform: rotate(45deg);
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: white 3px solid;
  border-right: white 3px solid;

}

.autores{
  background-image: linear-gradient(to left bottom, #202240, #3e4175);
}

.livros{
  background-image: linear-gradient(to right top, #c91b1e, #f52e32);
}

a{
  color: white;
  font-size: 45px;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  padding-top: 25px;
  transition: 0.5s;
}

a:hover{
  color: #131212;
  text-shadow: 2px 2px 4px rgb(194, 193, 193);
}
.borda-autores{
  border-radius: 0px 40px 40px 0px  ;

}

.borda-livros{
  border-radius: 40px 0px 0px 40px  ;
}



@media screen and (max-width: 768px) {
  .titulo{
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: -20px;
  }
  div.relative{
    width: 300px;
    height: 150px;
  }
  div.absolute{
    width: 75px;
    height: 75px;
    margin-top: 13px;
  }
  a{
    padding-top: 0px;
  }
  .borda-livros{
    border-radius: 40px 40px 40px 0px  ;
  }
  .borda-autores{
    border-radius: 40px 0px 40px 40px  ;
  }
}
