<div class="container">

  <div class="row mt-4 mb-5">
    <h1 class="titulo">Escolha umas das opções abaixo para consultar <br>
      cadastrar, editar ou deletar.</h1>
    </div>
    <div class="row">
      <div class="col-md-6 mt-5 ">
        <div class="d-flex justify-content-end ">
          <a [routerLink]="['/livros-list']">
            <div class="relative borda-livros "><br><span class="teste">Livros</span>
              <div class="absolute livros">
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-6 mt-5">
        <div class="d-flex justify-content-start">
          <a [routerLink]="['/autores-list']"  >
            <div class="relative borda-autores"><br > Autores
              <div class="absolute autores">
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>





