h1{
  padding: 13px;
  background-color: rgb(243, 241, 241);
  text-align: center;
  box-shadow: 1px 1px 30px 10px rgb(107, 109, 107);
}

a{
  text-decoration: none;
  color: #232323;
  transition: 1s;

}

a:hover{
  text-shadow: 2px 2px 3px  black;
}

