<h1> <a [routerLink]="['/']"> Desafio Akna </a></h1>

<div class="container mt-5">
    <h3 class="text-center"> {{ !alteracao ? 'Cadastrar' : 'Editar'  }} autor</h3>

    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6 text-center">

            <form class="mb-3 mt-3" [formGroup]="formulario" >
                <div class="row ">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label">Nome do Autor</label>
                            <input class="form-control" type="text"  formControlName="nome"></div>
                        </div>
                    </div>
                </form>

                <div class="d-flex justify-content-around">
                    <button class="btn btn-success " [routerLink]="['/autores-list']" > Voltar</button>
                    <button *ngIf="!alteracao" (click)="cadastrar()"
                     class="btn btn-dark" [disabled]="!formulario.valid">Cadastrar</button>

                    <button *ngIf="alteracao" (click)="alterar()"
                    class="btn btn-dark" [disabled]="!formulario.valid">Alterar</button>
                </div>


            </div>
            <div class="col-md-3"></div>
        </div>
    </div>




